<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head.ejs %>

</head>

<body>

    <!-- Main Content -->
    <main class="container">
        <div class="centeredContent">
            <h1>
                <%= title %>
            </h1>
            <br>
            <div>
                <a href="/list/add" class="btn btn-primary align-self-end" role="button">
                    Add a new Item
                </a>
            </div>

            <div class="table-responsive">
                <table class="table table-dark  table-responsive card-1 ">
                    <!-- Header Row-->
                    <thead>
                        <tr>
                            <th class="text-center columnTitle">Contact name</th>
                            <th class="text-center columnTitle">Contact number</th>
                            <th class="text-center columnTitle">Contact email</th>
                            <th class="text-center" colspan="2">Actions</th>

                        </tr>
                    </thead>
                    <!-- Repeatable Template Row -->

                    <% for(let count=0; count < ContactsList.length; count++) { %>
                        <tr>
                            <td class="text-center">
                                <%= ContactsList[count].name %>
                            </td>
                            <td class="text-center">
                                <%= ContactsList[count].number %>
                            </td>
                            <td class="text-center">
                                <%= ContactsList[count].email %>
                            </td>

                            <td class="text-center">
                                <a href="/list/edit/<%= ContactsList[count]._id %>" class="btn btn-primary btn-sm">
                                    <i class="fa fa-pencil"></i></a>
                            </td>
                            <td class="text-center">
                                <a href="/list/delete/<%= ContactsList[count]._id %>" class="btn btn-danger btn-sm">
                                    <i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                        <% } %>
                </table>
            </div>
        </div>
    </main>


    <% include ../partials/footer.ejs %>
        <% include ../partials/scripts.ejs %>
</body>

</html>