<%- include ../partials/head.ejs %>

    <body>
        <div class="container">
            <div class="row">
                <div class="offset-md-3 col-md-6">
                    <h1>
                        <%= title %>
                    </h1>

                    <form class="form" method="POST">
                        <div class="form-group">
                            <input type="hidden" name="id" value="<%= contact._id %>">
                            
                            <label for="nameTextField" class="whitetext">Contact Name</label>
                            <input type="text" class="form-control" id="nameTextField"
                                placeholder="Enter the contact name" name="name" value="<%= contact.name %>" required>
                        </div>
                        <br />
                        <div class="form-group">
                            <label for="numberTextField" class="whitetext">Contact number</label>
                            <input type="text" class="form-control" id="numberTextField" placeholder="+xx xxxxxxxxx"
                                name="number" value="<%= contact.number %>" required>
                        </div>
                        <br />
                        <div class="form-group">
                            <label for="emailTextField" class="whitetext">Contact email</label>
                            <input type="text" class="form-control" id="emailTextField" placeholder="Enter an email"
                                name="email" value="<%= contact.email %>">
                        </div>
                        <br />

                        <button class="btn btn-secondary" type="submit">
                            Submit
                        </button>

                        <a href="/list" class="btn btn-warning" style="margin-left: 5%; padding: 10px;">
                            Cancel
                        </a>

                    </form>
                </div>

            </div>
        </div>

        <% include ../partials/scripts.ejs %>
    </body>
    <!-- Content for the Add_Edit page -->



    <%- include ../partials/footer.ejs %>